# Node.js
node_modules/
.env
npm-debug.log
dist/
build/
# OS
.DS_Store
Thumbs.db
# Logs
logs/
*.log
# Misc
.idea/
.vscode/
# Dependency directories
bower_components/
# Test coverage
coverage/
# Optional
*.swp
*.swo
# Yarn
.yarn/
.yarnrc
# Next.js
.next/
# TypeScript
*.tsbuildinfo
# Others
*.tgz
